[mysqld]
user = mysql
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
pid-file = /run/mysqld/mysqld.pid

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# Logging
log_error = /var/log/mysql/error.log
skip-log-bin

# InnoDB settings
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_method = O_DIRECT

# Skip name resolution
skip-name-resolve

# Skip networking only on localhost
skip-networking = 0